body {
    font-size: 14px;
    color: white;
    background-color: white;
}

#header-nav {
    background-color: lightgrey;
}

.navbar-brand {
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 50px;
}

.navbar-brand h1 { 
    color: black;
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.70;
}

h2.text-center{
    color:black;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

#nav-list {
    margin-top: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid black;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -45px;
}

#nav-list li p {
    background: grey;
}

#home-tiles .item-text {
    background: grey;
    padding: 20px;
}

#home-tiles .item-text p {
    font-size: 1.3em;
}

/**********Large devices**********/
@media (min-width: 1200px) {
}

/**********Medium devices**********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/**********Small devices**********/
@media (min-width: 768px) and (max-width: 991px) {
}

/**********Extra small devices**********/
@media (max-width: 767px) {
    /* Header */
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-brand h1 { 
        padding-top: 10px;
    }

    #collapsable-nav a { 
        font-size: 1.2em;
    }
    #collapsable-nav a span { 
        font-size: 1em;
        margin-right: 10px;
    }

    .menu-item-description {
        text-align: center;
    }
}